.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // background: linear-gradient(135deg, #3498db);
  overflow: hidden;
  position: relative;

  .logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;

    &:hover {
      color: #007bff;
    }
  }

  .floating-gift {
    position: absolute;
    width: 100px;
    height: 100px;
    background: url('/assets/gifts.svg') no-repeat center center;
    background-size: contain;
    animation: float 5s infinite ease-in-out;
    opacity: 0.8;

    &:nth-child(1) {
      top: 10%;
      left: 20%;
      animation-delay: 0s;
    }

    &:nth-child(2) {
      top: 30%;
      left: 70%;
      animation-delay: 1s;
    }

    &:nth-child(3) {
      top: 60%;
      left: 40%;
      animation-delay: 2s;
    }

    &:nth-child(4) {
      top: 80%;
      left: 10%;
      animation-delay: 3s;
    }
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .login-container {
    background: #fff;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 500px;
    text-align: center;
    z-index: 1;

    .logo {
      margin-bottom: 2rem;
    }

    .title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 2rem;
      color: #333;
    }

    .login-form {
      .ant-form-item {
        margin-bottom: 1.5rem;

        label {
          font-weight: bold;
          color: #333;
        }

        input,
        .ant-input-password {
          border-radius: 10px;
          padding: 1rem;
        }
      }

      .login-button {
        width: 100%;
        background-color: #3498db;
        border: none;
        color: #fff;
        font-weight: bold;
        padding: 1rem;
        border-radius: 10px;
        font-size: 1.2rem;
        height: 50px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #2ecc71;
        }
      }
    }

    p {
      margin-top: 1.5rem;
      color: #555;
    }
  }
}