// Variables
$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;
$background-color: #f9f9f9;

// General styles
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: $text-color;
  background-color: $background-color;
}

// Hero Section
.hero-section {
  text-align: center;
  padding: 4rem 2rem;
  background-color: $primary-color;
  color: #fff;

  .hero-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  button {
    background-color: $secondary-color;
    border: none;
    &:hover {
      background-color: $secondary-color
    }
  }
}

// Product Section
.product-section {
  padding: 2rem;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.8rem;
    color: $primary-color;
  }

  .ant-carousel .slick-slide {
    text-align: center;
    padding: 1rem;
  }

  .ant-card {
    border-radius: 8px;
    overflow: hidden;
  }
}

// Cart Carousel
.cart-carousel {
  padding: 2rem;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: $primary-color;
  }

  .ant-carousel .slick-slide {
    text-align: center;
    padding: 1rem;
  }

  .ant-card {
    border-radius: 8px;
    overflow: hidden;
  }
}

// Reference Product Carousel
.reference-carousel {
  padding: 2rem;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: $primary-color;
  }

  .ant-carousel .slick-slide {
    text-align: center;
    padding: 1rem;
  }
}

// Recent Search Carousel
.recent-search-carousel {
  padding: 2rem;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: $primary-color;
  }

  .ant-carousel .slick-slide {
    text-align: center;
    padding: 1rem;
  }
}

// Categorized Filter Section
.categorized-filter {
  padding: 2rem;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: $primary-color;
  }

  .ant-row {
    display: flex;
    justify-content: center;

    .ant-col {
      display: flex;
      justify-content: center;

      .ant-card {
        border-radius: 8px;
        overflow: hidden;
        text-align: center;

        img {
          border-bottom: 1px solid #ddd;
        }
      }
    }
  }
}